body{
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1,
h2,
h3,
h4 {
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
}
:root {
    --color-blue: #2196F3;
    --color-grey: #757575;
}
/* -----------header----------- */
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-blue{
    color: #2196F3;
}
.header-nav-link {
    color: #212121;
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--color-blue);
}
.header-nav-link:active{
    color: aquamarine;
}
.header-nav-link{
    font-weight: 500; 
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-contact-link {
font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}
.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--color-blue);
}
.current {
    color: var(--color-blue);
}
/* ---------hero--------- */
.hero{
    background-image: url(../images/main/background.jpg);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    background: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* -------perevagy------- */
.perevagy-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.perevagy-about{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-grey);
}
/* ------------about------------- */
.about-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
/* -----------team------------ */
.team{
    background-color: #F5F4FA;
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.team-about{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-grey);
}
/* ---------footer------ */
.footer{
    background-color: #2F303A;
}
.footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-address{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-contact-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-address:hover,
.footer-address:focus,
.footer-contact-link:hover,
.footer-contact-link:focus{
    color: var(--color-blue);
}
/* ----------portfolio---------- */
.filter-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    border: none;
    background: #F5F4FA;
    border-radius: 4px;
}
.filter-btn:hover,
.filter-btn:focus{
    color: #FFFFFF;
    background-color: var(--color-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.filter-about{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-grey);
}